.snowflakes{
	overflow: hidden;
    height: 100vh;
	
	.snowflake{

		&__inner{

			&:before{

				background-image: url('https://s3.amazonaws.com/files.chaddl.es/chaddl.es/donut.png') !important;
			}
		}
	}
}