# public_html/.htaccess

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^chaddl.es  
    RewriteRule ^(.*) https://chaddl.es/chaddl.es/public/$1 [P]

</IfModule>

